@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding:0 ;
  margin: 0;
}

*::selection{
  background-color:#FB2056 ;
  color: #fff;
}

ul li{
  margin-bottom: 8px;
}

ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}



@media(max-width:483px){

  ul{
    width: 100%;
  }
  ul li{
    text-align: center;
  }

  .logo{
display: flex;
justify-content: center;
  }
}

@media(max-width:367px){
  #P::after{
  bottom: 30px;
  }
}

@media(max-width:351px){
  #PT::after{
  bottom: 30px;
  }
}

@media(max-width:345px){
  #PTI::after{
  bottom: 30px;
  }
}
@media(max-width:412px){
  #aboutcontentbox p{

    font-size: 14px !important;

  }
}